*.vocab
*.id
*.dict
*.npy
*.pyc
*.log
*.tmp

basic/train/*
basic/log/*
basic/submit/*
basic/official-submit*
basic/tmp/*

dependency/train/*
dependency/log/*
dependency/submit/*
dependency/official-submit*

data_kbp/word2vec
